header {
    background-color: #00ced1;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 0px;
}



body {
    background-color: #bbffff;
    margin: 0px;
    font-family: sans-serif;
}


footer {
    margin-top: 100px;
    margin-bottom: 200px;
    text-align: center;
}

table {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}